/* Palette de couleurs */
:root {
    --vert-fluo: #c5fd00;
    --vert-fonce: #1f1f17;
    --noir: #000000;
    --gris-clair: #333333;
    --blanc: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    /* padding: 0;
    background-color: var(--noir);
    color: var(--blanc); */
}
    

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fixe le header en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    z-index: 10; /* S'assure que le header reste au-dessus des autres éléments */
    color: var(--blanc);
    margin-top: 1rem;
}



    header img {
        width: 143px;
        /* height: 100px; */
        object-fit: cover;
        margin-right: 5rem;

    }


    nav ul {
        display: flex;
        gap: 2rem;
        list-style: none;
        margin-left: 3rem;
        font-family: 'Helvetica Neue', sans-serif;
        color: #B3B3B3;

                                                
    }

 /* Style de base */
 .menu-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
    color: #b3b3b3;
    margin-left: 2rem;
  }

  .menu-item a:hover {
    color: white;
    transition: color 0.4s ease;
  }
  
  .menu-item {
    position: relative;
    cursor: pointer;
  }

  .menu-item {
    border-bottom: 1px solid transparent; /* Bordure invisible par défaut */
    padding-bottom: 0.5rem; /* Ajoutez le même padding par défaut */
    box-sizing: border-box;
}

.menu-item:hover {
    border-bottom-color: white; /* Change la couleur au survol */
}
  
  .submenu {
    list-style: none;
    position: absolute;
    top: 100%; /* Place le sous-menu directement sous l'élément parent */
    left: 0;
    background-color: transparent; /* Pas de fond */
    padding: 0; /* Enlève le padding */
    margin: 0;
    display: none; /* Caché par défaut */
  }


  .submenu a {
    color: white;
    
  }

 
  
  .submenu li {
    margin: 0.5rem 0; /* Ajoute de l'espace entre les éléments */
    font-size: 14px;
    color: #b3b3b3; /* Même couleur que le menu principal */
    white-space: nowrap; /* Empêche le retour à la ligne */
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .menu-item:hover .submenu {
    display: block; /* Affiche le sous-menu au survol */
  }
  
  .menu-item:hover {
    color: #fff; /* Change la couleur du texte parent au survol */
    border-bottom: 1px solid white;
    /* margin-bottom: 2rem; */
    padding-bottom: 0.5rem;
    transition: color 0.4s ease;
  }

  .menu-item.active {
    color: white; /* Couleur du texte en blanc */
    border-bottom: 1px solid white; /* Surlignage en blanc */
}

  .carousel-title {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem; /* Ajuste la taille du texte */
    color: white; /* Choisir une couleur qui contraste avec l'image */
    font-weight: bold;
    z-index: 10; /* Assurez-vous que le texte soit au-dessus des images */

    font-family: Inter;
    font-size: 92px;
    font-weight: 500;
    line-height: 116.18px;
  
    

  }



  .title-underline {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translateX(-50%);
    width: 238px;
    border-bottom: 1px solid white;
    z-index: 10;
  }
 
  
  #drop-down {
    position: relative;
    width: 100%;
    overflow: hidden; /* Cache la partie de l'image qui ne sera pas visible */
  }
  
  #carousel-image {
    width: 100%;
    height: 1300px;
    object-fit: cover;
    display: block;
    opacity: 1;
    filter: brightness(50%); 
    transition: transform 0.5s ease; /* Animation du glissement */
  }

  .carousel-image {

    filter: brightness(80%); /* Assombrit les images en réduisant la luminosité */
  
  }
  
  #drop-down .fi {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 73px;
    color: #96989f;
    cursor: pointer;
    z-index: 5;
    transition: transform 0.3s ease;
  }
  
  #drop-down .right-arrow:hover {
    transform: translate(10px, -50%);
    color: white;
  }
  
  #drop-down .left-arrow:hover {
    transform: translate(-10px, -50%);
    color: white;
  }
  
  #drop-down .right-arrow {
    right: 40px;
  }
  
  #drop-down .left-arrow {
    left: 40px;
  }


  #drop-down .fi-ts-angle-down{
    position: absolute;
    bottom: 40px; /* Distance depuis le bas du carousel */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Correction pour aligner le centre de l'élément */
    font-size: 45px;
    color: #96989f;
    cursor: pointer;
    z-index: 5;
    transition: transform 0.3s ease;
    animation: bounce 2s infinite;
}

/* Important : Annuler les propriétés héritées de la classe générique */
#drop-down .fi-ts-angle-down {
    top: auto; /* Annule top: 50% */
    transform: translateX(-50%); /* Retire translateY(-50%) */
}
  
  #drop-down .fi-ts-angle-down:hover {
    transform: translateX(-50%) translateY(5px); /* Ajoute une animation au survol */
    color: white;
  }


  @keyframes bounce {
    0%, 100% {
      transform: translateX(-50%) translateY(0); /* Position initiale et finale */
  }
  50% {
      transform: translateX(-50%) translateY(10px); /* Descente subtile */
  }
}




  
  .carousel-container {
    display: flex; /* Alignement horizontal des images */
    transition: transform 0.45s ease; /* Animation pour le glissement */
    width: 100%;
}

.carousel-image {
    min-width: 100%; /* Chaque image prend toute la largeur du conteneur */
    height: 1300px; /* Ajuste selon tes besoins */
    object-fit: cover;
}





  

    

    #about {
        position: relative;
        text-align: center;
      }
      

    #about img {
        width: 100%;
        height: 1300px;
        display: block;
        object-fit: cover;
        position: relative;
        filter: brightness(1) hue-rotate(10deg); /* Assombrir et ajouter un effet de teinte */
    transition: filter 0.5s ease; /* Transition fluide pour l'effet */

    }

    #about::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3); /* 0.3 est l'opacité de l'overlay */
        z-index: 1; /* Assurez-vous que l'overlay est au-dessus de l'image */
    }
    
    #about h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: Inter;
        font-size: 40px;
        font-weight: 700;
        line-height: 48.41px;
        z-index: 2;
    }

    #about:hover img {
        filter: brightness(1.1) hue-rotate(0deg); /* Revenir à l'état normal au survol */
    }


    #contact_us {
        background-color: black;
        height: 800px;
        
    }

    #contact_us h2 {
        font-family: Inter;
        font-size: 24px;
        font-weight: 800;
        line-height: 38.73px;
        color: white;
        margin-bottom: 0.5rem;

    }

    #contact_us h3 {
      font-family: Inter;
        color: white;
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 4rem;

    }

    span {
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 38.73px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #c5fd00;

    }

  /* Animation Shake */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-5px); }
    40%, 80% { transform: translateX(5px); }
}

.shake {
    animation: shake 0.5s ease;
}

input, textarea {
    width: 843px;
    height: 72px;
    border-radius: 1rem;
    background-color: #6D6B6B;
    border: none;
    color: white;
    margin-bottom: 1rem; /* Espacement entre les champs */
    box-sizing: border-box;
    border: 2px solid transparent;

    padding: 20px;
}

textarea {
    height: 184px;
}

input::placeholder, textarea::placeholder {
    color: white;
    font-family: Inter;
    font-weight: 200; 
    /* padding-left: 1rem; */
}



input:focus, textarea:focus {
    outline: none;
    border-color: white;
}

button {
    width: 520px;
    height: 64px;
    border-radius: 1rem;
    border: none;
    background-color: #c5fd00;
    font-family: Inter, sans-serif;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.6s ease, transform 0.4s ease;
  }
  
  button:hover {
    background-color: #a5e100; /* Changement de couleur au survol */
    transform: translateY(-5px); /* Le bouton monte légèrement */
  }
  
  button:active {
    transform: translateY(0); /* Rétablissement de la position lors du clic */
  }
  

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 3rem;
}

hr {
  height: 1px;
  background-color: #666;
  border: none;
  margin: 0;
}

footer {
    /* background-color: #373737; */
    background-color: black;
    color: white;
    padding: 2rem 7rem;
}

.footer_container {
    display: flex;
    justify-content: space-between;
}

.footer_content p {
    /* width: 41%; */
    width: 273px;
    text-align: inherit;
    color: #CCCCCC;
}

.footer_content h2 {
    font-family: Inter;
    font-size: 23px;
    font-weight: 700;
    line-height: 38.73px;
 

}

a {
    color: inherit;
    list-style: none;
    text-decoration: none;
    color: #b3b3b3;

}


footer ul li {
    list-style: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 3rem;
   

    
}

ul {
    padding: 0;
}
ul li i {
    margin-right: 10px; /* Ajoute de l'espace entre l'icône et le lien */
  }

  .footer_info h3 {
    /* color: #c5fd00; */
    color: white;
    font-family: Inter;
    font-size: 21px;
    font-weight: 700;
 

  }

  footer p {
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 29.05px;

   color: #CCCCCC;
    

  }


@media screen and (max-width: 1920px) {

.carousel-image {
    min-width: 100%;
    height: 920px;
    object-fit: cover;
}

.title-underline {
    top: 60%;
}

#about img {
    width: 100%;
    height: 920px;
    display: block;
    object-fit: cover;
    position: relative;
    filter: brightness(1) hue-rotate(10deg);
    transition: filter 0.5s ease;
}


#drop-down .fi-ts-angle-down{

  bottom: 20px; /* Distance depuis le bas du carousel */

 
}


}

@media screen and (max-width: 941px) {
    input, textarea {
      width: 100%;
    }

    footer {
      padding: 2rem 4rem;
    }

    .footer_content p {
      font-size: 0.8rem;
      width: 80%;
    }

    .footer_info {
      width: 100%;
    }

    a {
      font-size: 0.8rem;
    }

}

/* Affiche le logo pour les grands écrans */
.desktop-logo {
  display: block;
}

.mobile-logo {
  display: none;
}



/* Styles de base */
/* Styles de base pour le menu */

#menu {

  display: block;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 49%;
  height: 100%;
  color: white;
 
  z-index: 1000; /* Assure que le menu est au-dessus */

}


/* .menu-list {
  list-style: none;
  padding: 1rem;
  margin: 0;
} */

.menu-item {
  margin: 1rem 0;
}

.fi-rr-menu-burger,
.fi-rr-cross-small {
  font-size: 2rem;
  cursor: pointer;
  z-index: 1100;
}

.fi-rr-menu-burger {
  display: none;
}

.fi-rr-cross-small {
  display: none;
}

/* Désactive la sélection de texte pour les icônes et le menu */
#burger-icon,
#close-icon,
.menu-responsive {
  user-select: none; /* Empêche la sélection de texte */
  -webkit-user-select: none; /* Compatibilité pour Safari */
  -ms-user-select: none; /* Compatibilité pour IE/Edge */
}

/* Optionnel : désactiver pour les items spécifiques */
.menu-item,
.menu-list {
  user-select: none;
}


@media screen and (max-width: 650px) {






  .carousel-title {
    font-size: 51px;

  }

  .title-underline {
    width: 144px;
    top: 53%;
  }

 
  .menu-list {
    margin-top: 3rem;
    flex-direction: column;
    width: 54px;
  }

  #team_item {
    width: 46px;

   
  }

  .menu-item a {
    font-size: 1rem;
   
  }
  

  .menu-responsive {
    display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 49%;
     height: 100%;
     color: white;
     background-color: #000000;
     z-index: 1000; /* Assure que le menu est au-dessus */
   }

   #menu {
    display: none;
   }
   


  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    display: block;
    width: 60px;
  }

  .fi-rr-menu-burger {
    display: block;
  }

  header {
    margin-top: 0;
  }

  header img {
    margin-right: 3rem;
  }


  button {
    width: 60%;
  }

  .footer_container {
    display: flex;
    justify-content: inherit; 
    flex-direction: column;
}

  #contact-form {
    width: 80%;
  }



  .fi-rr-menu-burger {
    display: block;
    font-size: 1.5rem;

  }

  nav {
    display: none;
  }



  .right-arrow {
    display: none;
  }

  .left-arrow {
    display: none;
  }


  .menu-list {
    margin-top: 3rem;
    flex-direction: column;
  }
  




}
