main {
    background-color: black;
    height: auto;
}

#video {

    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 110vh;
}


@media screen and (max-width: 1920px) {

    iframe {
        width: 1600px;
        height: 800px;
    }
}


@media screen and (max-width: 650px) {

 iframe {
        width: 450px;
        height: 300px;
    }

    #video {


        height: 50vh;
    }

    #production img {
  
        height: 250px;
       
      }

      #production > * {
        margin-bottom: 10px;
        height: inherit; 
        padding: 10px;
      }
      

}