main {
    background-color: black;
    height: auto;
}

#video {

    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 110vh;
}


@media screen and (max-width: 1920px) {

    iframe {
        width: 1600px;
        height: 800px;
    }
}